
/* Checks Interface */

.csx .check{
	position:relative;
	top:1px;
	margin:0px 3px 0px 0px;
}

.csx .check .checkMark{
	display:inline-block;
	width:12px;
	height:12px;
}

.editable .csx .checkMark{
	cursor:pointer;
}

.csx .check .checkBorder{
	background-image:url('https://innersecure.net/~omnichr/external/op/dst/images/check_border.svg');
	display:inline-block;
	height:12px;
	width:12px;
}

.csx .check .checkOff{
	background-image:url('../images/check_off.png');
	background-size:10px;
	background-position:1px 2px;
	background-repeat:no-repeat;
}

.editable .csx .check .checkOff:hover{
	background-image:url('../images/check_off_hover.png');
	background-size:10px;
	background-position:1px 2px;
	background-repeat:no-repeat;
}

.csx .check .checkOn{
	background-image:url('../images/check_on.png');
	background-size:10px;
	background-position:1px 2px;
	background-repeat:no-repeat;
}

.editable .csx .check .checkOn:hover{
	background-image:url('../images/check_on_hover.png');
	background-size:10px;
	background-position:1px 2px;
	background-repeat:no-repeat;
}

/* Edit Fields */

.csx .dsf,
.csx .edit{
	position:relative;
	display:inline-block;
	cursor:default;
}

.csx .dsf p,
.csx .edit p{
	margin:0px;
	line-height:inherit;
}

.csx .dsf:not(.readonly),
.csx .edit:not(.readonly){

}

.editable .csx .dsf,
.editable .csx .edit{
	cursor:text;
}

.editable .csx .dsf:hover:not(.readonly),
.editable .csx .edit:hover:not(.readonly){
	background-color:rgba(0,0,0,0.02);
}

.editable .csx .dsf:focus,
.editable .csx .edit:focus,
.editable .csx .dsf:focus:hover,
.editable .csx .edit:focus:hover{
	background-color:rgba(0,0,0,0.05);
}

.csx .dsf ul,
.csx .edit ul{
	margin:0px;
	padding: 0px 0px 0px 20px;
	list-style: url('https://innersecure.net/~omnichr/external/op/dst/images/bullet.png');
}
.csx .dsf ul li,
.csx .edit ul li{
	margin:0px;
	display:list-item;
}

/* Format Bar */

.csx .formatBar{
	background-image:
		url('https://innersecure.net/~omnichr/external/op/dst/images/fb_back_top.png'),
		url('https://innersecure.net/~omnichr/external/op/dst/images/fb_back_main.png'),
		url('https://innersecure.net/~omnichr/external/op/dst/images/fb_back_bottom.png');
	background-position:bottom center, center 1px, top center;
	background-repeat:no-repeat, no-repeat, no-repeat;
	position:absolute;
	display:none;
	padding-bottom:7px;
	padding-top:3px;
	margin-bottom:4px;
	width:140px;
	text-align:center;
	font-size:12px;
	z-index:10;	
	height:28px;
}

.csx .formatBar button{
	display:inline-block;
	height:28px;
	width:28px;
	border:none;
}

.csx .formatBar .boldButton{
	background-image:url('https://innersecure.net/~omnichr/external/op/dst/images/bold.png');
}
.csx .formatBar .boldButton:hover{
	background-image:url('https://innersecure.net/~omnichr/external/op/dst/images/bold_hover.png');
}
.csx .formatBar .boldButton:active{
	background-image:url('https://innersecure.net/~omnichr/external/op/dst/images/bold_active.png');
}

.csx .formatBar .italicButton{
	background-image:url('https://innersecure.net/~omnichr/external/op/dst/images/italic.png');
}
.csx .formatBar .italicButton:hover{
	background-image:url('https://innersecure.net/~omnichr/external/op/dst/images/italic_hover.png');
}
.csx .formatBar .italicButton:active{
	background-image:url('https://innersecure.net/~omnichr/external/op/dst/images/italic_active.png');
}

.csx .formatBar .underlineButton{
	background-image:url('https://innersecure.net/~omnichr/external/op/dst/images/underline.png');
}
.csx .formatBar .underlineButton:hover{
	background-image:url('https://innersecure.net/~omnichr/external/op/dst/images/underline_hover.png');
}
.csx .formatBar .underlineButton:active{
	background-image:url('https://innersecure.net/~omnichr/external/op/dst/images/underline_active.png');
}

.csx .formatBar .indentButton{
	background-image:url('https://innersecure.net/~omnichr/external/op/dst/images/indent.png');
}
.csx .formatBar .indentButton:hover{
	background-image:url('https://innersecure.net/~omnichr/external/op/dst/images/indent_hover.png');
}
.csx .formatBar .indentButton:active{
	background-image:url('https://innersecure.net/~omnichr/external/op/dst/images/indent_active.png');
}

/* List Interface */

.csx .add,
.csx .trash,
.csx .balance,
.csx .autobalance{
	display:none;
	float:right;
	height:15px;
	width:15px;
	margin-bottom:0px;
	cursor:default;
}

.csx .autobalance{
	position:relative;
	top:-1px;
	margin-right:0px;
}

.csx .trash{
	background:url('https://innersecure.net/~omnichr/external/op/dst/images/trash.png');
}

.csx .trash.active{
	background:url('https://innersecure.net/~omnichr/external/op/dst/images/trash_active.png');
}

.csx .trash.over{
	background:url('https://innersecure.net/~omnichr/external/op/dst/images/trash_hover.png');
}

.csx .add{
	background:url('https://innersecure.net/~omnichr/external/op/dst/images/add.png');
	cursor:pointer;
}

.csx .add:hover{
	background:url('https://innersecure.net/~omnichr/external/op/dst/images/add_hover.png');
}

.csx .balance{
	background:url('https://innersecure.net/~omnichr/external/op/dst/images/balance.png');
	cursor:pointer;
}

.csx .balance:hover{
	background:url('https://innersecure.net/~omnichr/external/op/dst/images/balance_hover.png');
}

.csx .list{
	padding:0px;
	line-height:inherit;
}

.csx .list li.item{
	display:inline-block;
	width:100%;
	position:relative;
	border-color:red;
	border-radius:2px;
}

.csx .list li.item:nth-of-type(odd){
	background-color:rgba(0,0,0,0.05);
}

.csx .list li.item:nth-of-type(even){
	background-color:initial;
}

.csx .list .column li.item:nth-of-type(even){
	background-color:rgba(0,0,0,0.05);
}

.csx .list .column li.item:nth-of-type(odd){
	background-color:initial;
}

.csx .list li.proto{
	display:none;
}

.csx .list li.over-below{
	border-bottom:1px dashed rgb(0,0,0);
}

.csx .list li.over-below:before{
	content:"▶";
	position:absolute;
	left:-10px;
	bottom:-9px;
	z-index:10;
}

.csx .list li.over-below:after{
	content:"◀";
	position:absolute;
	right:-10px;
	bottom:-9px;
	z-index:10;
}

.csx .list li.over-above{
	border-top:1px dashed rgb(0,0,0);
	line-height:16px;
}

.csx .list li.over-above:before{
	content:"▶";
	position:absolute;
	left:-10px;
	top:-8px;
	z-index:10;
}

.csx .list li.over-above:after{
	content:"◀";
	position:absolute;
	right:-10px;
	top:-8px;
	z-index:10;
}

.csx .list li.source{
	background-color:rgba(0,0,0,0.1);
	box-shadow:0px 0px 4px rgba(0,0,0,0.1);
}

.csx .list li .handle{
	display:none;
	float: left;
	position: relative;
	top: -1px;
	left: -6px;
	height:18px;
	width:19px;
	margin-right:-5px;
}

.csx .list li .handle div{
	background-image:url('https://innersecure.net/~omnichr/external/op/dst/images/grab.png');
	background-position:2px 0px;
	background-repeat:no-repeat;
	height:12px;
	width:13px;
	margin:3px;
}

.csx .list li .handle div:hover{
	background-image:url('https://innersecure.net/~omnichr/external/op/dst/images/grab_hover.png');
}

.csx .list li .handle img{
	position:absolute;
	top:-1px;
	left:-1px;
	height:13px;
}

.editable .csx .list li .handle,
.editable .csx .add,
.editable .csx .trash,
.editable .csx .balance,
.editable .csx .autobalance{
	display:inline-block;
}

.csx .list .item ul,
.csx .list .item li{
	line-height:inherit;
}

/* Pips Interface */

.csx .pips{
	position:relative;
	z-index:2;
	float:right;
	top:3px;
	height:17px;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 2px;
}

.csx .pips.pipsRange_3{
	width:41px;
}

.csx .pips.pipsRange_5{
	width:70px;
}

.csx .pips.pipsRange_10{
	width:142px;
}

.csx .pips .pip{
	position:absolute;
	top:-2px;
	height:15px;
	width:15px;
	display:inline-block;
}

.csx .pipBorder{
	background-image:url('https://innersecure.net/~omnichr/external/op/dst/images/pip_border.svg');
	display:inline-block;
	height:15px;
	width:15px;
}

.csx .pips .pipOff{
	background-image:url('../images/pip_off.png');
}

.editable .csx .pips .pipOff:hover{
	background-image:url('../images/pip_off_hover.png');
}

.csx .pips .pipOn{
	background-image:url('../images/pip_on.png');
}

.editable .csx .pips .pipOn:hover{
	background-image:url('../images/pip_on_hover.png');
}

.csx .pips svg{
	position:absolute;
}

/* Page Tabs */

.csx .tabs{
	position:absolute;
	padding-right:90px;
	top:-37px;
	right:0px;
	z-index:3;
}

.csx .tab{
	display:inline-block;
	float:right;
	height:40px;
	width:46px;
}
.csx .tab:not(.active){
	cursor:pointer;
}

.csx .tab.crunch{
	background:
		url('https://innersecure.net/~omnichr/external/op/dst/images/crunch.png') no-repeat 50% 50%,
		url('../images/tab01_inactive.png');
	background-size:
		70% 70%,
		100% 100%;
}
.csx .tab.crunch:not(.active):hover{
	background-image:
		url('https://innersecure.net/~omnichr/external/op/dst/images/crunch_hover.png'),
		url('../images/tab01_inactive.png');
}
.csx .tab.crunch.active{
	background-image:
		url('https://innersecure.net/~omnichr/external/op/dst/images/crunch.png'),
		url('../images/tab01_active.png');
}

.csx .tab.magic{
	background:
		url('https://innersecure.net/~omnichr/external/op/dst/images/magic.png') no-repeat 50% 50%,
		url('../images/tab02_inactive.png');
	background-size:
		70% 70%,
		100% 100%;
}
.csx .tab.magic:not(.active):hover{
	background-image:
		url('https://innersecure.net/~omnichr/external/op/dst/images/magic_hover.png'),
		url('../images/tab02_inactive.png');
}
.csx .tab.magic.active{
	background-image:
		url('https://innersecure.net/~omnichr/external/op/dst/images/magic.png'),
		url('../images/tab02_active.png');
}

.csx .tab.equipment{
	background:
		url('https://innersecure.net/~omnichr/external/op/dst/images/equipment.png') no-repeat 50% 50%,
		url('../images/tab03_inactive.png');
	background-size:
		70% 70%,
		100% 100%;
}
.csx .tab.equipment:not(.active):hover{
	background-image:
		url('https://innersecure.net/~omnichr/external/op/dst/images/equipment_hover.png'),
		url('../images/tab03_inactive.png');
}
.csx .tab.equipment.active{
	background-image:
		url('https://innersecure.net/~omnichr/external/op/dst/images/equipment.png'),
		url('../images/tab03_active.png');
}

.csx .tab.fluff{
	background:
		url('https://innersecure.net/~omnichr/external/op/dst/images/fluff.png') no-repeat 50% 50%,
		url('../images/tab04_inactive.png');
	background-size:
		70% 70%,
		100% 100%;
}
.csx .tab.fluff:not(.active):hover{
	background-image:
		url('https://innersecure.net/~omnichr/external/op/dst/images/fluff_hover.png'),
		url('../images/tab04_inactive.png');
}
.csx .tab.fluff.active{
	background-image:
		url('https://innersecure.net/~omnichr/external/op/dst/images/fluff.png'),
		url('../images/tab04_active.png');
}

/* Tooltip Interface */

.csx .tip{
	display:none;
}

.editable .csx .tip{
	display:inline-block;
	float:right;
	cursor: pointer;
	position: relative;
	top:4px;
	height:12px;
	width:12px;
	background:url('https://innersecure.net/~omnichr/external/op/dst/images/tip.png') no-repeat;
	color:transparent;
	overflow:hidden;
	background-size:11px;
	opacity:0.7;
}

.editable .csx .tip:hover{
	background-image:url('https://innersecure.net/~omnichr/external/op/dst/images/tip_hover.png');
}

.csx .tipBox{
	display:none;
	position:absolute;
	z-index:25;
	left:50%;
	top:50%;
}

.csx .tipBox .corner.topLeft{
	background:url('https://innersecure.net/~omnichr/external/op/dst/solar/brass-corner-top-left.png') top left no-repeat;
	background-size:15px 15px;
	top:-1px;
	left:-1px;
}
.csx .tipBox .corner.topRight{
	background:url('https://innersecure.net/~omnichr/external/op/dst/solar/brass-corner-top-right.png') top right no-repeat;
	background-size:15px 15px;
	top:-1px;
	right:-1px;
}
.csx .tipBox .corner.bottomLeft{
	background:url('https://innersecure.net/~omnichr/external/op/dst/solar/brass-corner-bottom-left.png') bottom left no-repeat;
	background-size:15px 15px;
	bottom:-1px;
	left:-1px;
}
.csx .tipBox .corner.bottomRight{
	background:url('https://innersecure.net/~omnichr/external/op/dst/solar/brass-corner-bottom-right.png') bottom right no-repeat;
	background-size:15px 15px;
	bottom:-1px;
	right:-1px;
}
.csx .tipBox .corner{
	position:absolute;
	height:15px;
	width:15px;
	border-radius:3px;
}

.csx .tipBox .contentBox{
	min-height:100px;
	width:300px;
	
	background:
		url('https://innersecure.net/~omnichr/external/op/dst/solar/background.jpg') top left no-repeat;
	background-size:
		730px 730px;
	background-color:#e4e5d5;
	
	border-style:solid;
	border-width:1px;
	border-color:#554220;
	
	box-shadow:0px 0px 15px rgba(0,0,0,0.3);
}

.csx .tipBox .contentBox .tipArea,
.csx .tipBox .contentBox .tipArea:hover{
	background-color:rgba(255,255,224,0.7);
	margin:5px;
	width:278px;
	min-height:88px;
	border:1px dotted rgba(0,0,0,0.3);
	border-radius:4px;
	padding:0px 5px 2px 5px;
	font-family:'EB Garamond',Sans Serif;
	font-size: 15px;
	line-height: 18px;
	color:#554220;
}

.csx .tipBox .contentBox .tipArea ul{
	margin:0px;
	padding: 0px 0px 0px 20px;
	list-style: url('../images/bullet.png');
}
.csx .tipBox .contentBox .tipArea ul li{
	margin:0px;
}

/* Sheet Content */

.wrapper.csx{
	position:relative;
	width:730px;
	margin:0px auto;
}

.csx .main{

	position:relative;
	width:708px;
	padding:0px 10px 80px 10px;
	margin:40px 0px 20px 0px;
	min-height: 795px;
	
	background-image:url('https://innersecure.net/~omnichr/external/op/dst/solar/background.jpg');
	background-position:top left;
	background-repeat:no-repeat;
	background-color:#e4e5d5;
	
	border-style:solid;
	border-width:1px;
	border-color:#554220;
	
	font-family:'Cinzel', palatino, serif;
	font-size:14px;
	line-height:17px;
	color:#554220;
	
}

.csx .list.twocolumn .column{
	width:343px;
}
.csx .twocolumn li.item{
	width:345px;
}
.csx .threecolumn .column{
	width:223px;
}
.csx .threecolumn li.item{
	width:226px;
}
.csx .list .column.colspace{
	margin-right:12px;
}

.csx .group{
	margin:0px 0px 8px 0px;
	padding:0px 3px 0px 3px;
	position:relative;
}

.csx .section{
	display:inline-block;
	width:100%;
	padding:0px 0px 0px 0px;
	margin:0px 0px 2px 1px;
	min-height:98px;
}

.csx .halfwidth{
	width:348px;
}

.csx .column{
	vertical-align:top;
	display:inline-block;
}

.csx .colspace{
	margin-right:6px;
}

.csx .head{
	font-size:14pt;
	font-weight:normal;
	letter-spacing:3px;
	border-bottom:solid 1px #554220;
	margin-bottom:5px;
}

.csx .pagehead{
	text-align:center;
	width:600px;
	margin:22px auto 30px auto;
}

.csx .hidden{
	display:none;
}

.csx .page{
	display:none;
}

.csx .page.active{
	display:block;
}

.csx .page_foot{
	text-align:center;
	width:600px;
	margin:22px 0px 0px 55px;
	padding:0px 0px 30px 0px;
	position:absolute;
	bottom:12px;
}

.csx a{
	text-decoration:none;
	color:#554220;
}

.csx .section a{
	text-decoration:underline;
}

.csx .right{
	float:right;
	text-align:right;
}

/* Corner Brass */

.csx .corner_top_left{
	position:absolute;
	left:-7px;
	top:-7px;
	z-index:4;
}

.csx .corner_top_right{
	position:absolute;
	right:-7px;
	top:-7px;
	z-index:4;
}

.csx .corner_bottom_left{
	position:absolute;
	left:-7px;
	bottom:-7px;
	z-index:4;
}

.csx .corner_bottom_right{
	position:absolute;
	right:-7px;
	bottom:-7px;
	z-index:4;
}

.csx .brass_bottom{
	position:absolute;
	left:262px;
	bottom:-7px;
	z-index:4;
}

/* Caste Icons */

.csx .casteIcon{
	position:absolute;
	left:118px;
	top:0px;
	height:85px;
}

/* Portrait */

.csx .portraitholder{
	display:inline-block;
	position:relative;
	float:right;
	padding:0px 0px 0px 0px;
	margin:3px 3px 5px 10px;
	border-style:solid;
	border-width:1px;
	border-color:#554220;
}
.csx .portraitholder .portrait {
    min-height: 150px;
    min-width: 150px;
    background-color: white;
    margin: 0px;
    padding: 0px;
	max-height: 300px;
	max-width: 300px;
}
.csx .portraitholder .topleft{
	position:absolute;
	left:-4px;
	top:-4px;
	width:64px;
	height:64px;
	z-index:4;
}
.csx .portraitholder .topright{
	position:absolute;
	right:-4px;
	top:-4px;
	width:64px;
	height:64px;
	z-index:4;
}
.csx .portraitholder .bottomleft{
	position:absolute;
	left:-4px;
	bottom:-4px;
	width:64px;
	height:64px;
	z-index:4;
}
.csx .portraitholder .bottomright{
	position:absolute;
	right:-4px;
	bottom:-4px;
	width:64px;
	height:64px;
	z-index:4;
}

/* Editable Fields */

.csx .dsf:not(.readonly),
.csx .edit:not(.readonly){
	line-height: 14px;
	padding-bottom: 3px;
}

.csx .dsf.pips10label,
.csx .edit.pips10label{
	width:180px;
}

.csx .dsf.pips5label,
.csx .edit.pips5label{
	width:244;
}

.csx .dsf.pips3label,
.csx .edit.pips3label{
	width:281px;
}

.csx .dsf.fullcolumn,
.csx .edit.fullcolumn{
	width:312px;
}

.csx .threecolumn .dsf.fullcolumn,
.csx .threecolumn .edit.fullcolumn{
	width:196px;
}

.csx .dsf.fullwidth,
.csx .edit.fullwidth{
	width:704px;
	min-height:50px;
	display:inline-block;
	line-height:17px;
	text-align:justify;
}

.editable .csx .list .dsf.fullwidth,
.editable .csx .list .edit.fullwidth{
	width:684px;
}

.csx .list .dsf.fullwidth,
.csx .list .edit.fullwidth{
	min-height:0px;
	line-height:14px;
}

.csx .dsf.right,
.csx .edit.right{
	max-width:180px;
	min-width:100px;
}

.editable .csx .dsf:hover:not(.readonly),
.editable .csx .edit:hover:not(.readonly){
	color:#957438;
	background-color:rgba(0,0,0,0.02);
}

.editable .csx .dsf:focus,
.editable .csx .edit:focus,
.editable .csx .dsf:focus:hover,
.editable .csx .edit:focus:hover{
	color:#957438;
	background-color:rgba(0,0,0,0.05);
}

/* Attack List */

.csx .attacks .weapon{
	width:193px;
	margin-left:5px;
}

.editable .csx .attacks .weapon{
	width:180px;
	margin-left:0px;
}

.editable .csx .attacks .labelrow .weapon{
	margin-left:16px;
}
.csx .attacks .labelrow span{
	display:inline-block;
	border-bottom:1px solid #A59270;
	line-height:12px;
}
.csx .attacks .speed,
.csx .attacks .accuracy,
.csx .attacks .damage,
.csx .attacks .defense,
.csx .attacks .rate,
.csx .attacks .range,
.csx .attacks .tags{
	display:inline-block;
	width:65px;
	text-align:center;
	margin-left:3px;
}


/* Misc */

.csx .name{
	display:inline-block;
	font-size:18pt;
	margin:0px 0px 9px 0px;
	width: 600px;
	height:16px;
}

.csx .dsf.dsf_type{
	font-family:'Cinzel', palatino, serif;
	font-size:14px;
	line-height:17px;
}

.csx .dsf.dsf_bio{
    width: auto;
	display:block;
}
.csx .dsf.dsf_bio p{
	margin-top:17px;
}
.csx .dsf.dsf_bio p:first-of-type{
	margin-top:0px;
}

.editable .csx .list_combos .edit.fullwidth{
	width:672px;
}

.csx .check.autobalance .checkMark{
	background-position: 1px 3px;
	position: relative;
	left: 2px;
}