/* Component Includes */

@import url(https://chainsawxiv.github.io/DST/common/css/csx_dd4e_common.css);

/* Parchment Sheet Customization */

div.ds_chainsawxiv_dd4e_simple .content{
	color:black;
	border-bottom:1px solid #AAAAAA;
	padding-bottom:0px;
}

div.ds_chainsawxiv_dd4e_simple .boxfield{
	border:1px solid #AAAAAA;
}

div.ds_chainsawxiv_dd4e_simple .box28{
	border:1px solid #AAAAAA;
}

div.ds_chainsawxiv_dd4e_simple .box51{
	border:1px solid #AAAAAA;
}

div.ds_chainsawxiv_dd4e_simple .linefield{
	border-color:#CCCCCC;
}


div.ds_chainsawxiv_dd4e_simple h1,h2,h3,h4{
	color:red;
}

div.ds_chainsawxiv_dd4e_simple .top{
	
}

div.ds_chainsawxiv_dd4e_simple .header{
	background-color:#999999;
	color:white;
}

div.ds_chainsawxiv_dd4e_simple .valbar{
	background-color:#DDDDDD;
	color:black;
}

div.ds_chainsawxiv_dd4e_simple .skillbar:nth-of-type(odd){
	background-color:rgba(0,0,0,0.05);
}

div.ds_chainsawxiv_dd4e_simple .lable{
	color:#888888;
}

div.ds_chainsawxiv_dd4e_simple a{
	text-decoration:none;
}

/* Optional Link Styles */

div.ds_chainsawxiv_dd4e_simple .link_address{
	display:none;
}

div.ds_chainsawxiv_dd4e_simple .link_active{
	color:#7766AA;
}

div.ds_chainsawxiv_dd4e_simple .link_active:hover{
	color:#AA88DD;
}

div.ds_chainsawxiv_dd4e_simple .list li.item{
	border-bottom:1px solid #CCCCCC;
	border-radius:0px;
}

div.ds_chainsawxiv_dd4e_simple .tab.tab_manage,
div.ds_chainsawxiv_dd4e_simple .tab.tab_crunch,
div.ds_chainsawxiv_dd4e_simple .tab.tab_fluff{
	font-family:arial;
	text-align:center;
	vertical-align:middle;
	border:1px solid #CCCCCC;
	border-top:none;
	border-bottom-right-radius:4px;
	border-bottom-left-radius:4px;
	padding-top:15px;
	height:30px;
	background-color:#EEEEEE;
	font-weight:bold;
	width:125px;
	position:absolute;
}

div.ds_chainsawxiv_dd4e_simple .tab.tab_manage.active,
div.ds_chainsawxiv_dd4e_simple .tab.tab_crunch.active,
div.ds_chainsawxiv_dd4e_simple .tab.tab_fluff.active{
		background-color:white;
		padding-top:16px;
		margin-top:-1px;
}

div.ds_chainsawxiv_dd4e_simple .boxfield{
	width:22px;
	height:14px;
}

div.ds_chainsawxiv_dd4e_simple .box28{
	width:26px;
}

div.ds_chainsawxiv_dd4e_simple .box51{
	width:49px;
}

div.ds_chainsawxiv_dd4e_simple .labelrow{
	margin-top:2px;
}

div.ds_chainsawxiv_dd4e_simple .listhead{
	margin-top:1px;
}

div.ds_chainsawxiv_dd4e_simple .dsf.fullcolumn, 
div.ds_chainsawxiv_dd4e_simple .edit.fullcolumn{
	width:237px;
	padding-bottom:4px;
}

div.ds_chainsawxiv_dd4e_simple.editable  .dsf.fullcolumn, 
div.ds_chainsawxiv_dd4e_simple.editable  .edit.fullcolumn{
	width:211px;
}

div.ds_chainsawxiv_dd4e_simple:not(.editable) .tab.tab_manage{
	display:none;	
}
