/* Font Imports */

@import url(https://fonts.googleapis.com/css?family=Cinzel:400,700);
@import url(https://fonts.googleapis.com/css?family=EB+Garamond);

/* Component Includes */

@import url(https://innersecure.net/~omnichr/external/op/dst/css/csx_exalted_common.css);

/* Splat Specific: Checks */

div.ds_chainsawxiv_mage .check .checkBorder{
	background-image:url('https://innersecure.net/~omnichr/external/op/dst/images/check_border.svg');
}

div.ds_chainsawxiv_mage .check .checkOff{
	background-image:url('https://innersecure.net/~omnichr/external/op/dst/images/solar/check_off.png');
}

div.ds_chainsawxiv_mage.editable .check .checkOff:hover{
	background-image:url('https://innersecure.net/~omnichr/external/op/dst/images/solar/check_off_hover.png');
}

div.ds_chainsawxiv_mage .check .checkOn{
	background-image:url('https://innersecure.net/~omnichr/external/op/dst/images/solar/check_on.png');
}

div.ds_chainsawxiv_mage.editable .check .checkOn:hover{
	background-image:url('https://innersecure.net/~omnichr/external/op/dst/images/solar/check_on_hover.png');
}

/* Splat Specific: Pips */

div.ds_chainsawxiv_mage .pipBorder{
	background-image:url('https://innersecure.net/~omnichr/external/op/dst/images/pip_border.svg');
}

div.ds_chainsawxiv_mage .pips .pipOff{
	background-image:url('https://innersecure.net/~omnichr/external/op/dst/images/solar/pip_off.png');
}

div.ds_chainsawxiv_mage.editable .pips .pipOff:hover{
	background-image:url('https://innersecure.net/~omnichr/external/op/dst/images/solar/pip_off_hover.png');
}

div.ds_chainsawxiv_mage .pips .pipOn{
	background-image:url('https://innersecure.net/~omnichr/external/op/dst/images/solar/pip_on.png');
}

div.ds_chainsawxiv_mage.editable .pips .pipOn:hover{
	background-image:url('https://innersecure.net/~omnichr/external/op/dst/images/solar/pip_on_hover.png');
}

/* Splat Specific: Tabs */

div.ds_chainsawxiv_mage .tab.crunch{
	background:
		url('https://innersecure.net/~omnichr/external/op/dst/images/crunch.png') no-repeat 50% 50%,
		url('https://innersecure.net/~omnichr/external/op/dst/images/solar/tab01_inactive.png');
	background-size:
		61% 70%,
		100% 100%;
}
div.ds_chainsawxiv_mage .tab.crunch:not(.active):hover{
	background-image:
		url('https://innersecure.net/~omnichr/external/op/dst/images/crunch_hover.png'),
		url('https://innersecure.net/~omnichr/external/op/dst/images/solar/tab01_inactive.png');
}
div.ds_chainsawxiv_mage .tab.crunch.active{
	background-image:
		url('https://innersecure.net/~omnichr/external/op/dst/images/crunch.png'),
		url('https://innersecure.net/~omnichr/external/op/dst/images/solar/tab01_active.png');
}

div.ds_chainsawxiv_mage .tab.magic{
	background:
		url('https://innersecure.net/~omnichr/external/op/dst/images/magic.png') no-repeat 50% 50%,
		url('https://innersecure.net/~omnichr/external/op/dst/images/solar/tab02_inactive.png');
	background-size:
		61% 70%,
		100% 100%;
}
div.ds_chainsawxiv_mage .tab.magic:not(.active):hover{
	background-image:
		url('https://innersecure.net/~omnichr/external/op/dst/images/magic_hover.png'),
		url('https://innersecure.net/~omnichr/external/op/dst/images/solar/tab02_inactive.png');
}
div.ds_chainsawxiv_mage .tab.magic.active{
	background-image:
		url('https://innersecure.net/~omnichr/external/op/dst/images/magic.png'),
		url('https://innersecure.net/~omnichr/external/op/dst/images/solar/tab02_active.png');
}

div.ds_chainsawxiv_mage .tab.equipment{
	background:
		url('https://innersecure.net/~omnichr/external/op/dst/images/equipment.png') no-repeat 50% 50%,
		url('https://innersecure.net/~omnichr/external/op/dst/images/solar/tab03_inactive.png');
	background-size:
		61% 70%,
		100% 100%;
}
div.ds_chainsawxiv_mage .tab.equipment:not(.active):hover{
	background-image:
		url('https://innersecure.net/~omnichr/external/op/dst/images/equipment_hover.png'),
		url('https://innersecure.net/~omnichr/external/op/dst/images/solar/tab03_inactive.png');
}
div.ds_chainsawxiv_mage .tab.equipment.active{
	background-image:
		url('https://innersecure.net/~omnichr/external/op/dst/images/equipment.png'),
		url('https://innersecure.net/~omnichr/external/op/dst/images/solar/tab03_active.png');
}

div.ds_chainsawxiv_mage .tab.fluff{
	background:
		url('https://innersecure.net/~omnichr/external/op/dst/images/fluff.png') no-repeat 50% 50%,
		url('https://innersecure.net/~omnichr/external/op/dst/images/solar/tab04_inactive.png');
	background-size:
		61% 70%,
		100% 100%;
}
div.ds_chainsawxiv_mage .tab.fluff:not(.active):hover{
	background-image:
		url('https://innersecure.net/~omnichr/external/op/dst/images/fluff_hover.png'),
		url('https://innersecure.net/~omnichr/external/op/dst/images/solar/tab04_inactive.png');
}
div.ds_chainsawxiv_mage .tab.fluff.active{
	background-image:
		url('https://innersecure.net/~omnichr/external/op/dst/images/fluff.png'),
		url('https://innersecure.net/~omnichr/external/op/dst/images/solar/tab04_active.png');
}

/* Splat Specific: Tips */

div.ds_chainsawxiv_mage .tipBox .corner.topLeft{
	background:url('https://innersecure.net/~omnichr/external/op/dst/images/solar/brass-corner-top-left.png') top left no-repeat;
	background-size:15px 15px;
}
div.ds_chainsawxiv_mage .tipBox .corner.topRight{
	background:url('https://innersecure.net/~omnichr/external/op/dst/images/solar/brass-corner-top-right.png') top right no-repeat;
	background-size:15px 15px;
}
div.ds_chainsawxiv_mage .tipBox .corner.bottomLeft{
	background:url('https://innersecure.net/~omnichr/external/op/dst/images/solar/brass-corner-bottom-left.png') bottom left no-repeat;
	background-size:15px 15px;
}
div.ds_chainsawxiv_mage .tipBox .corner.bottomRight{
	background:url('https://innersecure.net/~omnichr/external/op/dst/images/solar/brass-corner-bottom-right.png') bottom right no-repeat;
	background-size:15px 15px;
}

div.ds_chainsawxiv_mage .tipBox .contentBox{
	background:
		url('https://innersecure.net/~omnichr/external/op/dst/images/solar/background.jpg') top left no-repeat;
	background-size:
		730px 730px;
	background-color:#e4e5d5;
	border-color:#554220;
}

div.ds_chainsawxiv_mage .tipBox .contentBox .tipArea,
div.ds_chainsawxiv_mage .tipBox .contentBox .tipArea:hover{
	background-color:rgba(255,255,224,0.7);
	border:1px dotted rgba(0,0,0,0.3);
	border-radius:4px;
	font-family:'EB Garamond',Sans Serif;
	color:#554220;
}

/* Splat Specific: Editable */

div.ds_chainsawxiv_mage .dsf:not(.readonly),
div.ds_chainsawxiv_mage .edit:not(.readonly),
div.ds_chainsawxiv_mage .dsf_bio{
	font-family:'EB Garamond',Sans Serif;
}

/* Splat Specific: Sheet */

div.ds_chainsawxiv_mage .main{
	background-image:url('https://innersecure.net/~omnichr/external/op/dst/images/mage/background.jpg');
	background-position:top left;
	background-repeat:no-repeat;
	background-color:#f5f4f2;
	
	font-family:'Cinzel', palatino, serif;
	font-size:14px;
	line-height:17px;
	color:#554220;
	
	border:none;
	margin-top:51px;
}

div.ds_chainsawxiv_mage .head{
	border-bottom:solid 1px #554220;
}

div.ds_chainsawxiv_mage a{
	text-decoration:none;
	color:#554220;
}

div.ds_chainsawxiv_mage .section a{
	text-decoration:underline;
}

div.ds_chainsawxiv_mage .attacks .labelrow span{
	border-bottom:1px solid #A59270;
}

div.ds_chainsawxiv_mage .dsf.dsf_type{
	font-family:'Cinzel', palatino, serif;
}

/* Mage Attack Layout */

div.ds_chainsawxiv_mage .csx .attacks .weapon{
	width:229px;
}
div.ds_chainsawxiv_mage.editable .csx .attacks .weapon{
	width:212px;
}

div.ds_chainsawxiv_mage .csx .attacks .difficulty,
div.ds_chainsawxiv_mage .csx .attacks .damage,
div.ds_chainsawxiv_mage .csx .attacks .range,
div.ds_chainsawxiv_mage .csx .attacks .rate,
div.ds_chainsawxiv_mage .csx .attacks .clip{
	margin-left:0px;
	width:90px;
	text-align:center;
}

/* Mage Border Setup */

div.ds_chainsawxiv_mage .csx .corner_top_left{
	left:-16px;
	top:-18px;
	z-index:0;
	max-width:none;
}

div.ds_chainsawxiv_mage .csx .corner_bottom_left{
	left:-16px;
	bottom:-18px;
	z-index:0;
	max-width:none;
}

div.ds_chainsawxiv_mage .csx .pagehead{
	padding-top:30px;
}

div.ds_chainsawxiv_mage .csx .tabs{
	top:-48px;
	z-index:0;
}

div.ds_chainsawxiv_mage .csx .border_container{
	display: block;
	position:absolute;
	height:auto;
	bottom:0;
	top:0;
	left:-13px;
	right:-15px;
	margin-top:100px;
	margin-bottom:158px;
	background-image:url('https://innersecure.net/~omnichr/external/op/dst/images/mage/border-sides.png');
	z-index:0;
}

div.ds_chainsawxiv_mage .csx .add,
div.ds_chainsawxiv_mage .csx .trash{
	position:relative;
}

div.ds_chainsawxiv_mage .portrait img{
	min-height:150px;
	min-width:150px;
}

div.ds_chainsawxiv_mage .csx .section{
	min-height:90px;
}

div.ds_chainsawxiv_mage .row.highlight.hl_fix{
	background-color:rgba(255,255,255,0.5);
	border-radius:2px;
}