/* Font Imports */

@import url(https://fonts.googleapis.com/css?family=Cinzel:400,700);
@import url(https://fonts.googleapis.com/css?family=EB+Garamond);

/* Component Includes */

@import url(https://chainsawxiv.github.io/DST/common/css/csx_exalted_common.css);

/* Splat Specific: Checks */

div.ds_chainsawxiv_exalted .check .checkBorder{
	background-image:url('https://chainsawxiv.github.io/DST/common/images/check_border.svg');
}

div.ds_chainsawxiv_exalted .check .checkOff{
	background-image:url('https://chainsawxiv.github.io/DST/sheets/chainsawxiv_exalted/images/check_off.png');
}

div.ds_chainsawxiv_exalted.editable .check .checkOff:hover{
	background-image:url('https://chainsawxiv.github.io/DST/sheets/chainsawxiv_exalted/images/check_off_hover.png');
}

div.ds_chainsawxiv_exalted .check .checkOn{
	background-image:url('https://chainsawxiv.github.io/DST/sheets/chainsawxiv_exalted/images/check_on.png');
}

div.ds_chainsawxiv_exalted.editable .check .checkOn:hover{
	background-image:url('https://chainsawxiv.github.io/DST/sheets/chainsawxiv_exalted/images/check_on_hover.png');
}

/* Splat Specific: Pips */

div.ds_chainsawxiv_exalted .pipBorder{
	background-image:url('https://chainsawxiv.github.io/DST/common/images/pip_border.svg');
}

div.ds_chainsawxiv_exalted .pips .pipOff{
	background-image:url('https://chainsawxiv.github.io/DST/sheets/chainsawxiv_exalted/images/pip_off.png');
}

div.ds_chainsawxiv_exalted.editable .pips .pipOff:hover{
	background-image:url('https://chainsawxiv.github.io/DST/sheets/chainsawxiv_exalted/images/pip_off_hover.png');
}

div.ds_chainsawxiv_exalted .pips .pipOn{
	background-image:url('https://chainsawxiv.github.io/DST/sheets/chainsawxiv_exalted/images/pip_on.png');
}

div.ds_chainsawxiv_exalted.editable .pips .pipOn:hover{
	background-image:url('https://chainsawxiv.github.io/DST/sheets/chainsawxiv_exalted/images/pip_on_hover.png');
}

/* Splat Specific: Tabs */

div.ds_chainsawxiv_exalted .tab.crunch{
	background:
		url('https://chainsawxiv.github.io/DST/common/images/crunch.png') no-repeat 50% 50%,
		url('https://chainsawxiv.github.io/DST/sheets/chainsawxiv_exalted/images/tab01_inactive.png');
	background-size:
		61% 70%,
		100% 100%;
}
div.ds_chainsawxiv_exalted .tab.crunch:not(.active):hover{
	background-image:
		url('https://chainsawxiv.github.io/DST/common/images/crunch_hover.png'),
		url('https://chainsawxiv.github.io/DST/sheets/chainsawxiv_exalted/images/tab01_inactive.png');
}
div.ds_chainsawxiv_exalted .tab.crunch.active{
	background-image:
		url('https://chainsawxiv.github.io/DST/common/images/crunch.png'),
		url('https://chainsawxiv.github.io/DST/sheets/chainsawxiv_exalted/images/tab01_active.png');
}

div.ds_chainsawxiv_exalted .tab.magic{
	background:
		url('https://chainsawxiv.github.io/DST/common/images/magic.png') no-repeat 50% 50%,
		url('https://chainsawxiv.github.io/DST/sheets/chainsawxiv_exalted/images/tab02_inactive.png');
	background-size:
		61% 70%,
		100% 100%;
}
div.ds_chainsawxiv_exalted .tab.magic:not(.active):hover{
	background-image:
		url('https://chainsawxiv.github.io/DST/common/images/magic_hover.png'),
		url('https://chainsawxiv.github.io/DST/sheets/chainsawxiv_exalted/images/tab02_inactive.png');
}
div.ds_chainsawxiv_exalted .tab.magic.active{
	background-image:
		url('https://chainsawxiv.github.io/DST/common/images/magic.png'),
		url('https://chainsawxiv.github.io/DST/sheets/chainsawxiv_exalted/images/tab02_active.png');
}

div.ds_chainsawxiv_exalted .tab.equipment{
	background:
		url('https://chainsawxiv.github.io/DST/common/images/equipment.png') no-repeat 50% 50%,
		url('https://chainsawxiv.github.io/DST/sheets/chainsawxiv_exalted/images/tab03_inactive.png');
	background-size:
		61% 70%,
		100% 100%;
}
div.ds_chainsawxiv_exalted .tab.equipment:not(.active):hover{
	background-image:
		url('https://chainsawxiv.github.io/DST/common/images/equipment_hover.png'),
		url('https://chainsawxiv.github.io/DST/sheets/chainsawxiv_exalted/images/tab03_inactive.png');
}
div.ds_chainsawxiv_exalted .tab.equipment.active{
	background-image:
		url('https://chainsawxiv.github.io/DST/common/images/equipment.png'),
		url('https://chainsawxiv.github.io/DST/sheets/chainsawxiv_exalted/images/tab03_active.png');
}

div.ds_chainsawxiv_exalted .tab.fluff{
	background:
		url('https://chainsawxiv.github.io/DST/common/images/fluff.png') no-repeat 50% 50%,
		url('https://chainsawxiv.github.io/DST/sheets/chainsawxiv_exalted/images/tab04_inactive.png');
	background-size:
		61% 70%,
		100% 100%;
}
div.ds_chainsawxiv_exalted .tab.fluff:not(.active):hover{
	background-image:
		url('https://chainsawxiv.github.io/DST/common/images/fluff_hover.png'),
		url('https://chainsawxiv.github.io/DST/sheets/chainsawxiv_exalted/images/tab04_inactive.png');
}
div.ds_chainsawxiv_exalted .tab.fluff.active{
	background-image:
		url('https://chainsawxiv.github.io/DST/common/images/fluff.png'),
		url('https://chainsawxiv.github.io/DST/sheets/chainsawxiv_exalted/images/tab04_active.png');
}

/* Splat Specific: Tips */

div.ds_chainsawxiv_exalted .tipBox .corner.topLeft{
	background:url('https://chainsawxiv.github.io/DST/sheets/chainsawxiv_exalted/images/brass-corner-top-left.png') top left no-repeat;
	background-size:15px 15px;
}
div.ds_chainsawxiv_exalted .tipBox .corner.topRight{
	background:url('https://chainsawxiv.github.io/DST/sheets/chainsawxiv_exalted/images/brass-corner-top-right.png') top right no-repeat;
	background-size:15px 15px;
}
div.ds_chainsawxiv_exalted .tipBox .corner.bottomLeft{
	background:url('https://chainsawxiv.github.io/DST/sheets/chainsawxiv_exalted/images/brass-corner-bottom-left.png') bottom left no-repeat;
	background-size:15px 15px;
}
div.ds_chainsawxiv_exalted .tipBox .corner.bottomRight{
	background:url('https://chainsawxiv.github.io/DST/sheets/chainsawxiv_exalted/images/brass-corner-bottom-right.png') bottom right no-repeat;
	background-size:15px 15px;
}

div.ds_chainsawxiv_exalted .tipBox .contentBox{
	background:
		url('https://chainsawxiv.github.io/DST/sheets/chainsawxiv_exalted/images/background.jpg') top left no-repeat;
	background-size:
		730px 730px;
	background-color:#e4e5d5;
	border-color:#554220;
}

div.ds_chainsawxiv_exalted .tipBox .contentBox .tipArea,
div.ds_chainsawxiv_exalted .tipBox .contentBox .tipArea:hover{
	background-color:rgba(255,255,224,0.7);
	border:1px dotted rgba(0,0,0,0.3);
	border-radius:4px;
	font-family:'EB Garamond',Sans Serif;
	color:#554220;
}

/* Splat Specific: Editable */

div.ds_chainsawxiv_exalted .dsf:not(.readonly),
div.ds_chainsawxiv_exalted .edit:not(.readonly),
div.ds_chainsawxiv_exalted .dsf_bio{
	font-family:'EB Garamond',Sans Serif;
}

/* Splat Specific: Sheet */

div.ds_chainsawxiv_exalted .main{
	background-image:url('https://chainsawxiv.github.io/DST/sheets/chainsawxiv_exalted/images/background.jpg');
	background-position:top left;
	background-repeat:no-repeat;
	background-color:#e4e5d5;
	
	border-style:solid;
	border-width:1px;
	border-color:#554220;
	
	font-family:'Cinzel', palatino, serif;
	font-size:14px;
	line-height:17px;
	color:#554220;
}

div.ds_chainsawxiv_exalted .head{
	border-bottom:solid 1px #554220;
}

div.ds_chainsawxiv_exalted a{
	text-decoration:none;
	color:#554220;
}

div.ds_chainsawxiv_exalted .section a{
	text-decoration:underline;
}

div.ds_chainsawxiv_exalted .attacks .labelrow span{
	border-bottom:1px solid #A59270;
}

div.ds_chainsawxiv_exalted .dsf.dsf_type{
	font-family:'Cinzel', palatino, serif;
}